.container {
  width: 600px;
  background-color: rgb(155, 245, 245);
  padding: 10px;
}
.box {
  width: calc(50% - 10px); /* half of container minus gap */
  height: 100px;
  background-color: green;
  display: inline-block;
  margin-right: 10px;
}
.box:last-child {
  margin-right: 0;
}
.container-2 {
  height: 400px;
  background-color: rgb(240, 190, 124);
  padding: 10px;
}
.box-2 {
  height: calc(50% - 10px); /* half of container height minus gap */
  background-color: brown;
  margin-bottom: 10px;
}
.box-2:last-child {
  margin-bottom: 0;
}
header {
  height: 60px;
  background-color:rgb(144, 144, 236);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
main {
  height: calc(100vh - 60px); /* full viewport height minus header */
  background-color: palevioletred;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}
.container-1 {
  display: flex;
  width: 800px;
}

.sidebar-1 {
  width: 200px;
  background-color: rgb(76, 230, 178);
  color: white;
}

.main-1 {
  width: calc(100% - 200px); /* remaining width after sidebar */
  background-color: rgb(182, 123, 236);
  color: white;
}
.sidebar-1, .main-1{
  padding: 20px;
  
}
.box1, .box2 {
  display: inline-block;
  height: 100px;
  width: calc(50% - 10px); /* half width minus gap */
  margin-right: 10px;
  background: #4CAF50;
}

.box2 {
  margin-right: 0;
} 
.context {
      font-family: Arial, sans-serif;
      text-align: center;
      margin: 0;
    }
    /* desktop default */
.media {
      width: 300px;
      height: 150px;
      background-color: #1E90FF; /* Blue */
      color: white;
      margin: 50px auto;
      text-align: center;
      line-height: 150px;
      font-weight: bold;
    }
/* Tablet */
    @media (max-width: 700px) {
      .media {
        background-color: #32CD32; /* Green */
        width: 250px;
      }
    }
    /* Mobile */
    @media (max-width: 480px) {
      .media {
        background-color: #FF6347; /* Red */
        width: 100%;
      }
    }
    .keyframes{
          background-color: rgb(9 ,106 ,106);
          width: 30vw;
          height: 80vh;
    }
    .k1{
      background-color: aqua;
      width: 34px;
      height: 45px;
      /* animation-name: identifier;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-out;
      animation-delay: 2s;
      animation-direction: alternate-reverse; */
      /* animation: name duration timing-function delay iteration-count direction fill-mode; */
      animation: identifier 3s linear 2s 4 normal ;
    }
    @keyframes identifier {
      from{
background-color: red;
      }
      to{
        transform: translate(1000px);
        background-color: yellow;
      }
    }
    .rotate {
  width: 80px;
  height: 80px;
  background: #4f46e5;
  margin: 40px;
  animation: spin 2s ease-in  4 normal ;
}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.scale {
  width: 80px;
  height: 80px;
  background:rgb(236, 102, 236);
  margin: 40px;
  animation: zoom 1.5s ease-in  infinite  ;
}
@keyframes zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

